@using AlertDemo.Models
@model MessageModel
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View</h2>

@using (@Html.BeginForm())
{ 
    @Html.AntiForgeryToken();
    @Html.ValidationSummary(true);
    
    @Html.LabelFor(m => m.To);
    @Html.TextBoxFor(m => m.To);
    @Html.ValidationMessageFor(m => m.To);

    @Html.LabelFor(m => m.Body);
    @Html.TextBoxFor(m => m.Body);
    @Html.ValidationMessageFor(m => m.Body);

    <input type="submit" value="Submit" />
}